@import url(http://fonts.googleapis.com/css?family=Roboto:100,200,300,400);
html, body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {	
	font-family: 'Roboto', sans-serif;
}

section {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
section#main-section {
	font-size: 10vw;
	height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	background: #111311;
}
canvas#constellation {
	position: fixed;
	z-index: 9999;
}
/* -------- HEADER -------- */

header#main-header {
	position: absolute;
}

header#main-header nav {
	position: relative;
}

#lateral-menu {

}

#icon-hamburger-cross svg path {
	stroke: #fcb217;
}

#icon-hamburger-cross.active svg path {
	stroke: #1f1f1f;
}

#lateral-main-menu {
	text-align: center;
	position: fixed;
	right: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 1000;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

#lateral-main-menu:before {
	opacity: 0.95;
	content: '';
	display: block;
	background: #fcb217;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	-webkit-filter: blur(5px);
	   -moz-filter: blur(5px);
	    -ms-filter: blur(5px);
	     -o-filter: blur(5px);
	        filter: blur(5px);
}

#lateral-main-menu.active {
	right: 0;
}

#icon-hamburger-cross, #icon-hamburger-cross svg {
	position: relative;
	display: inline-block;
	z-index: 9999;
}

/* -------- DISTORTION STYLE -------- */

.container-distortion {
	margin: auto;
	text-align: center;
}

.distortion {
	-webkit-animation: transform 3.5s steps(10) infinite, glitch 4.2s infinite;
			animation: transform 3.5s steps(10) infinite, glitch 4.2s infinite;
}

svg#distortion-filters {
	display: none;
}

#distortion__hello {
	font-weight: 100;
	color: #E0E6DB;
}
#distortion__words {
	position: relative;
	outline: none;
	display: block;
	min-width: 1px;
	min-height: 100%;
	border-bottom: 1px solid #fcb217;
	font-weight: 400;
	color: #fcb217;
	z-index: 10000;
}
#distortion__edit {
	font-size: 0.5em;
	font-weight: 100;
	color: #aaa;
}

@-webkit-keyframes glitch {
	45% {
		-webkit-filter: none;
				filter: none;
	}
	46% {
		-webkit-filter: url(#dist-01);
				filter: url(#dist-01);
	}
	47% {
		-webkit-filter: url(#dist-02);
				filter: url(#dist-02);
	}
	48% {
		-webkit-filter: url(#dist-03);
				filter: url(#dist-03);
	}
	50% {
		-webkit-filter: none;
				filter: none;
	}
	95% {
	  -webkit-filter: none;
				filter: none;
	}
	96% {
		-webkit-filter: url(#dist-02);
				filter: url(#dist-02);
	}
	97% {
		-webkit-filter: url(#dist-04);
				filter: url(#dist-04);
	}
}

@keyframes glitch {
	45% {
		-webkit-filter: none;
				filter: none;
	}
	46% {
		-webkit-filter: url(#dist-01);
				filter: url(#dist-01);
	}
	47% {
		-webkit-filter: url(#dist-02);
				filter: url(#dist-02);
	}
	48% {
		-webkit-filter: url(#dist-03);
				filter: url(#dist-03);
	}
	50% {
		-webkit-filter: none;
				filter: none;
	}
	95% {
	  -webkit-filter: none;
				filter: none;
	}
	96% {
		-webkit-filter: url(#dist-02);
				filter: url(#dist-02);
	}
	97% {
		-webkit-filter: url(#dist-04);
				filter: url(#dist-04);
	}
}
@-webkit-keyframes transform {
	0% {
		-webkit-transform: translate(-5%, -5%) skew(-10deg) scale(1.05);
				transform: translate(-5%, -5%) skew(-10deg) scale(1.05);
	}
	1% {
		-webkit-transform: none;
				transform: none;
	}
	88% {
		-webkit-transform: none;
				transform: none;
	}
	89% {
		-webkit-transform: translate(5%, 10%) scale(1.05);
				transform: translate(5%, 10%) scale(1.05);
	}
	90% {
		-webkit-transform: none;
				transform: none;
	}
}
@keyframes transform {
	0% {
		-webkit-transform: translate(-5%, -5%) skew(-10deg) scale(1.05);
				transform: translate(-5%, -5%) skew(-10deg) scale(1.05);
	}
	1% {
		-webkit-transform: none;
				transform: none;
	}
	88% {
		-webkit-transform: none;
				transform: none;
	}
	89% {
		-webkit-transform: translate(5%, 10%) scale(1.05);
				transform: translate(5%, 10%) scale(1.05);
	}
	90% {
		-webkit-transform: none;
				transform: none;
	}
}